@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,700&family=Andika:ital@1&family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&family=Xanh+Mono:ital@1&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    
}

.cart i{
    line-height:revert;
}
.blue{
    background-color: rgb(3, 3, 154) !important;
}
.nav-link {
    color: white !important;
}
.card-body{
    background-color: whitesmoke;
}
.bad{
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 5px;
}
.back{
    background-color: whitesmoke;
    
}
.qty{
  margin-left: 60px;
  top: -1px;
}
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: rgb(10, 10, 119);
    margin: 5px;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
    background-color: rgb(231, 231, 6);

  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
    background-color: gray;
  }
  

  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

           
  .btn-grad {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .backs{
    background: rgb(12,29,149);
    background: linear-gradient(90deg, rgba(12,29,149,0.9697128851540616) 19%, rgba(0,212,255,1) 100%);
    height: 100vh;
  }
  .bg{
    background-color: white;
    z-index: 999;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.43);
  }

  .offline{
    z-index: 9999;
  }




  .page_404{ padding:40px 0;  font-family: 'Arvo', serif;
  }
  
  .page_404  img{ width:100%;}
  
  .four_zero_four_bg{
   
   background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
      height: 400px;
      background-position: center center;
      background-size: cover;
      
   }
  
   .four_zero_four_bg h1{
   font-size:80px;
   }
   
    .four_zero_four_bg h3{
         font-size:80px;
         }
         
         .link_404{			 
    color: #fff!important;
      padding: 10px 20px;
      background: #39ac31;
      margin: 20px 0;
      display: inline-block;}
    .contant_box_404{ margin-top:-20px;}